{% block blockbasepath %}
{% set basepath = "" %}
{% endblock %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : TwoFold 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130526

Adapted by Gilbert Jeiziner for homefield.gjn.ch
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{{sitetitle}}
  {% block titleextension %}{% endblock %}
  </title>
  <meta name="description" content="{{sitedescription}}">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600,700" rel="stylesheet" />
  <link href="{{basepath}}css/homefield.css" rel="stylesheet">
{% if debug %}
  <script src="{{basepath}}lib/d3.js"></script>
{% else %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.8/d3.min.js"></script>
{% endif %}
  <script src="{{basepath}}lib/homefield.js"></script>
  <script src="{{basepath}}lib/{{season}}.js"></script>
{% block headincludes %}
{% endblock %}
</head>
<body>
  <div id="header" class="container">
    <div id="title">
      <a href="{{basepath}}index.html">{{sitetitle}}</a>
    </div>
    <div class="byline">{{sitedescription}}</div>
  </div>

  <!-- body and right stuff -->
  <div id="wrapper">
    <div id="page" class="container">
      <div id="sidebar">
        <div id="sbox1">
          <ul class="style2">
            <li class="current_page_item"><a href="{{basepath}}index.html" accesskey="1" title="">Home</a></li>
            <li><a href="{{basepath}}table.html" accesskey="2" title="">Full Table</a></li>
            <li><a href="{{basepath}}experimental.html" accesskey="3" title="">Experimental</a></li>
          </ul>
        </div>
        <div id="sbox2">
          <div class="title">
            <h2>Previous seasons</h2>
          </div>
          <ul class="style2">
            <li><a href="{{basepath}}nfl/2014/21/index.html">2014</a></li>
            <li><a href="{{basepath}}nfl/2013/21/index.html">2013</a></li>
            <li><a href="{{basepath}}nfl/2012/21/index.html">2012</a></li>
            <li><a href="{{basepath}}nfl/2011/21/index.html">2011</a></li>
            <li><a href="{{basepath}}nfl/2010/21/index.html">2010</a></li>
            <li><a href="{{basepath}}nfl/2009/21/index.html">2009</a></li>
            <li><a href="{{basepath}}nfl/2008/21/index.html">2008</a></li>
            <li><a href="{{basepath}}nfl/2007/21/index.html">2007</a></li>
            <li><a href="{{basepath}}nfl/2006/21/index.html">2006</a></li>
            <li><a href="{{basepath}}nfl/2005/21/index.html">2005</a></li>
            <li><a href="{{basepath}}nfl/2004/21/index.html">2004</a></li>
            <li><a href="{{basepath}}nfl/2003/21/index.html">2003</a></li>
            <li><a href="{{basepath}}nfl/2002/21/index.html">2002</a></li>
          </ul>
        </div>
      </div>

      <div id="content">
        {% block pagecontent %}
        {% endblock %}
      </div>
    </div>
  </div>
<!--
  <div id="featured-wrapper">
  <div id="featured" class="container">
    <div id="box1">
      <div>
        <h2>2015 Season</h2>
      </div>
      <ul class="style1">
        <li class="first"><a href="{{basepath}}nfl/2015/1/index.html">Week 1</a></li>
      </ul>
    </div>
    <div id="box2">
      <div>
        <h2>2014 Season</h2>
      </div>
      <ul class="style1">
        <li class="first">
          <a href="{{basepath}}nfl/2014/21/index.html">Superbowl</a>
          <a href="{{basepath}}nfl/2014/20/index.html">Championships</a>
          <a href="{{basepath}}nfl/2014/19/index.html">Divisional</a>
          <a href="{{basepath}}nfl/2014/18/index.html">Wildcard</a>
        </li>
        <li>
          <a href="{{basepath}}nfl/2014/17/index.html">Week 17</a>
          <a href="{{basepath}}nfl/2014/16/index.html">Week 16</a>
          <a href="{{basepath}}nfl/2014/15/index.html">Week 15</a>
          <a href="{{basepath}}nfl/2014/14/index.html">Week 14</a>
          <a href="{{basepath}}nfl/2014/13/index.html">Week 13</a>
        </li>
        <li>
          <a href="{{basepath}}nfl/2014/12/index.html">Week 12</a>
          <a href="{{basepath}}nfl/2014/11/index.html">Week 11</a>
          <a href="{{basepath}}nfl/2014/10/index.html">Week 10</a>
          <a href="{{basepath}}nfl/2014/9/index.html">Week 9</a>
          <a href="{{basepath}}nfl/2014/8/index.html">Week 8</a>
          <a href="{{basepath}}nfl/2014/7/index.html">Week 7</a>
        </li>
        <li>
          <a href="{{basepath}}nfl/2014/6/index.html">Week 6</a>
          <a href="{{basepath}}nfl/2014/5/index.html">Week 5</a>
          <a href="{{basepath}}nfl/2014/4/index.html">Week 4</a>
          <a href="{{basepath}}nfl/2014/3/index.html">Week 3</a>
          <a href="{{basepath}}nfl/2014/2/index.html">Week 2</a>
          <a href="{{basepath}}nfl/2014/1/index.html">Week 1</a>
        </li>

      </ul>
    </div>
    <div id="box3">
      <div>
        <h2>Older Seasons</h2>
      </div>
      <ul class="style1">
        <li class="first"><a href="{{basepath}}nfl/2013/21/index.html">2013</a></li>
        <li><a href="{{basepath}}nfl/2012/21/index.html">2012</a></li>
        <li><a href="{{basepath}}nfl/2011/21/index.html">2011</a></li>
      </ul>
    </div>
  </div>
  </div>
  -->
  <div id="footer" class="container">
  <!--
  <div>
    <div>
      <h2>Get in touch</h2>
      <span class="byline">Phasellus nec erat sit amet nibh pellentesque congue</span> </div>
    <ul class="contact">
      <li><a href="#" class="icon icon-twitter"><span>Twitter</span></a></li>
      <li><a href="#" class="icon icon-facebook"><span></span></a></li>
      <li><a href="#" class="icon icon-dribbble"><span>Pinterest</span></a></li>
      <li><a href="#" class="icon icon-tumblr"><span>Google+</span></a></li>
      <li><a href="#" class="icon icon-rss"><span>Pinterest</span></a></li>
    </ul>
  </div>
  -->
  <p>&copy; gjn.ch | Raw Data from <a
  href="http://www.pro-football-reference.com/">Pro Football Reference</a> |
  Design based on <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
  </div>

  <!-- ANALYTICS -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-51013863-2', 'gjn.ch');
    ga('send', 'pageview');
  </script>
</body>
</html>

