<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">
  <link href="css/homefield.css" rel="stylesheet">
{% if debug %}
  <script src="lib/d3.js"></script>
{% else %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.8/d3.min.js"></script>
{% endif %}
  <script src="lib/homefield.js"></script>
  <script src="lib/all.js"></script>
</head>
<body>
  <div id="navigation">
    <a id="home"href="/">home</a>
  </div>

  <h1>{{title}}</h1>
  <p>{{description}}</p>
  {{ contents }}
  <br/>

  <h1>Bubble Graph</h1>
  <svg id="bubble">
  </svg>

  <h1>Over Time</h1>

  <svg id="timeline">
  </svg>

  <h1>Table</h1>

  <table id="table">
  </table>

  <script type="text/javascript">
    var filter = '';
    var aggregate = '';
    var set = new hf.stats.Set({{season}}, {{week}}, 'osow').filter(filter);
    var anotherGraph = new hf.graphs.Table('#table');
    anotherGraph.create(set, '');

    var timeGraph = new hf.graphs.Timeline('#timeline');
    var tset = new hf.stats.Timeset({season: {{season}} - 5, week: {{week}}},
    //var tset = new hf.stats.Timeset({season: {{season}}, week: 1},
                                   {season: {{season}}, week: {{week}}},
    //                               'ooow').filter(filter).aggregate(aggregate);
                                   'osow').filter(filter).aggregate(aggregate);
    timeGraph.create(tset, '');

    var setX = new hf.stats.Set({{season}}, {{week}}, 'osop').filter(filter); 
    var setY = new hf.stats.Set({{season}}, {{week}}, 'osoy').filter(filter); 
    var setR = new hf.stats.Set({{season}}, {{week}}, 'osow').filter(filter); 

    var bubbleGraph = new hf.graphs.Bubble('#bubble');
    bubbleGraph.create(setX, setY, undefined, '');

  </script>

  <br/>

  <!-- ANALYTICS -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-51013863-2', 'gjn.ch');
    ga('send', 'pageview');
  </script>
</body>
</html>

