<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">
  <link href="css/homefield.css" rel="stylesheet">
{% if debug %}
  <script src="lib/d3.js"></script>
{% else %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.8/d3.min.js"></script>
{% endif %}
  <script src="lib/homefield.js"></script>
  <script src="lib/{{season}}.js"></script>
</head>
<body>
  <div id="navigation">
    <a id="home"href="/">home</a>
  </div>

  <h1>{{title}}</h1>
  <p>{{description}}</p>
  {{ contents }}
  <br/>

  <svg id="timeline">
  </svg>

  <table id="table">
  </table>

  <script type="text/javascript">
    var filter = '';
    var set = new hf.stats.Set({{season}}, {{week}}, 'overall', 's', 'o', 'w');
    var anotherGraph = new hf.graphs.Table('#table');
    set.setFilter(filter);
    anotherGraph.create(set, '');

    var timeGraph = new hf.graphs.Timeline('#timeline');
    var tset = new hf.stats.Timeset({season: {{season}}, week: 1},
                                   {season: {{season}}, week: {{week}}},
                                   'overall', 's', 'o', 'w');
    tset.setFilter(filter);
    timeGraph.create(tset, '');

  </script>

  <br/>

  <!-- ANALYTICS -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-51013863-2', 'gjn.ch');
    ga('send', 'pageview');
  </script>
</body>
</html>

