{% extends "../../_site/templates/base.html" %}

{% block headincludes %}
<script src="{{basepath}}lib/2014.js"></script>
<script src="{{basepath}}lib/2013.js"></script>
<script src="{{basepath}}lib/2012.js"></script>
<script src="{{basepath}}lib/2011.js"></script>
<script src="{{basepath}}lib/2010.js"></script>
<script src="{{basepath}}lib/2009.js"></script>
<script src="{{basepath}}lib/2008.js"></script>
<script src="{{basepath}}lib/2007.js"></script>
<script src="{{basepath}}lib/2006.js"></script>
<script src="{{basepath}}lib/2005.js"></script>
<script src="{{basepath}}lib/2004.js"></script>
<script src="{{basepath}}lib/2003.js"></script>
<script src="{{basepath}}lib/2002.js"></script>
{% endblock %}

{% block pagecontent %}
<div class="title">
  <h2>{{title}}</h2>
  <span class="byline">{{description}}</span>
</div>

<p>{{ contents }}</p>

<h3>Bubble Graph</h3>
<svg id="bubble">
</svg>

<h3>Strenght of schedule over time</h3>

<svg id="timeline">
</svg>

<script type="text/javascript">
  var filter = '';
  var aggregate = '';
  var timeGraph = new hf.graphs.Timeline('#timeline');
  var tset = new hf.stats.Timeset({season: {{season}} - 1, week: 21},
                                 {season: {{season}}, week: {{week}}},
                                 'osow').filter(filter).aggregate(aggregate);
  //                               'osdp').filter(filter).aggregate(aggregate);
  timeGraph.create(tset, '{{basepath}}');

  var setX = new hf.stats.Set({{season}}, {{week}}, 'osow').filter(filter); 
  var setY = new hf.stats.Set({{season}}, {{week}}, 'osdp').filter(filter); 
  var setR = new hf.stats.Set({{season}}, {{week}}, 'osow').filter(filter); 

  var bubbleGraph = new hf.graphs.Bubble('#bubble');
  bubbleGraph.create(setX, setY, setR, '{{basepath}}');
</script>

{% include "../../_site/templates/disqus.html" %}


{% endblock %}
