{% extends "../../_site/templates/base.html" %}

{% block pagecontent %}
<div class="title">
  <h2>NFL Power Rankings - Week {{week}} {{season}}</h2>
  <span class="byline">{{description}}</span>
  {% include "../../_site/templates/prnavigation.html" %}
</div>
<p>
{{ contents }}
</p>
<svg id="chart">
</svg>
<p>
</p>
<h3>Developement over the season</h3>
<svg id="timeline">
</svg>

<div>
{% include "../../_site/templates/prnavigation.html" %}
</div>

<script type="text/javascript">
  var newGraph = new hf.graphs.Bar('#chart');
  var set = new hf.stats.Set({{season}}, {{week}}, 'osow');
  newGraph.create(set, '{{basepath}}');

  var timeGraph = new hf.graphs.Timeline('#timeline');
  var tset = new hf.stats.Timeset({season: {{season}} - 1, week: 21},
                                 {season: {{season}}, week: {{week}}}, 'osow');
  timeGraph.create(tset, '{{basepath}}');
</script>

{% include "../../_site/templates/disqus.html" %}


{% endblock %}
