{% extends "../../_site/templates/base.html" %}

{% block pagecontent %}
<div class="title">
{% if week != 0 %}
  <h2>NFL Power Rankings - Week {{week}} {{season}}</h2>
{% else %}
  <h2>NFL {{season}} season preview</h2>
{% endif %}
  <span class="byline">{{description}}</span>
  {% include "../../_site/templates/prnavigation.html" %}
</div>

<p>
{{ contents }}
</p>

{% if week != 0 %}

<div>
{% include "../../_site/templates/selector.html" %}
</div>
<p>
</p>

<svg id="chart">
</svg>
<p>
</p>

<h3>Developement over the season</h3>
<svg id="timeline">
</svg>

<h3>Offensive and Defensive Ratings</h3>
<svg id="bubble">
</svg>

<h3>Strength of schedule faced during season</h3>
<svg id="sosseason">
</svg>

{% endif %}

<div>
{% include "../../_site/templates/predictions.html" %}
</div>

{% if week == 0 %}
<h3>Powerrankings after last season</h3>

<svg id="chart">
</svg>
<p>
</p>

<h3>Offensive and Defensive Ratings</h3>
<svg id="bubble">
</svg>

{% endif %}


<div>
{% include "../../_site/templates/prnavigation.html" %}
</div>

<script type="text/javascript">
  var dataset = 'osoh';
  var aggregator, filter;

  params = URI.parseQuery(location.search);
  if (params.dataset && params.dataset.length == 4) {
    dataset = params.dataset;
  }
  if (params.aggregator) {
    aggregator = params.aggregator;
  }
  if (params.filter) {
    filter = params.filter;
  }
  window.console.log(dataset, filter, aggregator);
  var week = {{week}};
  var season = {{season}};
  if (week == 0) {
    season -= 1;
    week = 21;
  }
  var newGraph = new hf.graphs.Bar('#chart');
  var set = new hf.stats.Set(season, week, dataset);
  if (filter) {
    set = set.filter(filter);
  }
  if (aggregator) {
    set = set.aggregate(aggregator);
  }
 
  newGraph.create(set, '{{basepath}}');

  if ({{week}} != 0) {
    var timeGraph = new hf.graphs.Timeline('#timeline');
    var tset = new hf.stats.Timeset({season: season - 1, week: 21},
                                 {season: season, week: week}, dataset);
    if (filter) {
      tset = tset.filter(filter);
    }
    if (aggregator) {
      tset = tset.aggregate(aggregator);
    }
    timeGraph.create(tset, '{{basepath}}');
  }

  var setX = new hf.stats.Set(season, week, 'osor').filter(filter); 
  var setY = new hf.stats.Set(season, week, 'osdr').filter(filter); 
  var setR = new hf.stats.Set(season, week, 'osow').filter(filter); 

  var bubbleGraph = new hf.graphs.Bubble('#bubble');
  bubbleGraph.create(setX, setY, setR, '{{basepath}}');

  if ({{week}} != 0) {
    var sosSeasonGraph = new hf.graphs.Bar('#sosseason');
    var sosSeasonSet = new hf.stats.Set(season, week, 'psoh');
    if (filter) {
      sosSeasonSet = sosSeasonSet.filter(filter);
    }
    if (aggregator) {
      sosSeasonSet = sosSeasonSet.aggregate(aggregator);
    }
    sosSeasonGraph.create(sosSeasonSet, '{{basepath}}');
		/*
		var sosSeasonGraph = new hf.graphs.Timeline('#sosseason');
		var sosSeasontset = new hf.stats.Timeset({season: season, week: 1},
                              {season: season, week: week}, 'psoh');
		if (filter) {
			sosSeasontset = sosSeasontset.filter(filter);
		}
		if (aggregator) {
			sosSeasonSet = sosSeasonSet.aggregate(aggregator);
		}
		sosSeasonGraph.create(sosSeasontset, '{{basepath}}');
	 */

  }

</script>

{% include "../../_site/templates/disqus.html" %}


{% endblock %}
