{% extends "../../_site/templates/base.html" %}

{% block pagecontent %}
<div class="title">
  <h2>{{title}}</h2>
  <span class="byline">{{description}}</span>
</div>

<p>{{ contents }}</p>

<h2>Overall Table</h2>

<table id="stattable">
</table>

</br>
</br>
</br>

<h2>Home Table</h2>

<table id="hometable">
</table>

</br>
</br>
</br>

<h2>Away Table</h2>

<table id="awaytable">
</table>

<script type="text/javascript">
  var week = {{week}};
  var season = {{season}};
  params = URI.parseQuery(location.search);
  locweek = parseInt(params.week);
  if (!isNaN(locweek) && locweek <= 21 && locweek > 0) {
    week = locweek;
  }
  locseason = parseInt(params.season);
  if (!isNaN(locseason) && locseason <= 2015 && locseason > 2002) {
    season = locseason;
  }

  var filter = '';
  var set = new hf.stats.Set(season, week, 'osoh').filter(filter);
  var tableGraph = new hf.graphs.Table('#stattable', 'overall');
  tableGraph.create(set, '{{basepath}}');

  var homeset = new hf.stats.Set(season, week, 'hsoh').filter(filter);
  var homeTable = new hf.graphs.Table('#hometable', 'home');
  homeTable.create(homeset, '{{basepath}}');

  var awayset = new hf.stats.Set(season, week, 'asoh').filter(filter);
  var awayTable = new hf.graphs.Table('#awaytable', 'away');
  awayTable.create(awayset, '{{basepath}}');

</script>

{% include "../../_site/templates/disqus.html" %}


{% endblock %}
